/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(29, 29, 29);  
    
    color: #ffffff;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: rgb(255, 217, 0);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
    width: 100px;
}

img.zweefrechts {
float:right;
margin-left: 15px;
width:100px;
}

img.vvvlogo {
float:right;
margin-left:10px;
width:200px;


}

.smalltext {
    font-size: 1.0em;
}

a {
    color: rgb(255, 217, 0);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #424242;
    overflow: hidden;
    display: flex;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #f0f0f0;
}

nav li a.active {
    background-color: rgb(255, 217, 0);
}




